#cloud-config
hostname: vm-gerador-hardware
manage_etc_hosts: true

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIPsuYpJ2uf59fvA2I/TrOTB2XRrcbfxP2cG31fMJdXR2 luiza@luiza-System-Product-Name

package_update: true
package_upgrade: true

packages:
  - python3-pip
  - python3-venv
  - git
  - curl

runcmd:
  - echo "VM iniciada e configurada via cloud-init!" > /tmp/cloud-init-status.log