#cloud-config
hostname: vm-gerador-hardware
manage_etc_hosts: true

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQ... (ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQC8ImDGAgnCB1PQSRQ3FWg4jqHs2pjh4VA749RwdZTqjv2nX1MR1N70tD+UG8ozXtgnyLUQxJqY5f5KveVskrZD1wjmhjpYL5SVm8X1TtaajDCYB6eedOEKpBigZJzBTojyAlPrvvANRv4dk81YGg/YzWf7YM/dHk3G8k61cKSIagm6dnNiujtYz7/FuWRIwDDdNTQRK/CFKdA6PYHJGGxKaYUIe1WuC/QBm4uugiI3d3weBkPZDP/0RCrrmcfU+2AzYvs9V/PLK8KAPev7eCVbIdiet8m4pedy2cIhTT+5qoSaBbKJwWpAol1cNygeELkr2JUk+GaY57bnq+dT6pJqNUnUS9O4BrOHOOOBUEFjz0k8ooIL1F9UKbYV/M2RNAp2EJTXf5a8hlKBGdPuXa/YbKflUv4NejeKCcIYdH3uwVDFW2qTyKGDnaGAqNoucN4tN99n7lSQ27GSUwb+YgPEkLW8MTiIOFP/wvWWeL5X/rWUrrnyL5vN5Ky7EX+f+9DzhhGnrMNqOw/3g1r9on5OSFsc3JECDUHWFzRT1+ZfPuZWhG/XgrDqXVuCgb26k31GptQCALoyUVhFQi9eQ124vb2PtTuNvkBVox6bzDiMqZA/q7UszV6PuylBKrkolxuerCrXoruJ95jSxyMtNA9vR4Vo7X+w4MQIDEWmlGasjQ== luiza.pincitori@sou.unifeob.edu.br)


package_update: true
package_upgrade: true

packages:
  - python3
  - python3-pip
  - python3-venv
  - git
  - curl

runcmd:
  - echo "VM iniciada e configurada via cloud-init!" > /tmp/cloud-init-status.log