#cloud-config
hostname: vm-gerador-hardware
manage_etc_hosts: true

users:
  - name: ubuntu
    sudo: ALL=(ALL) NOPASSWD:ALL
    groups: users, admin, sudo
    shell: /bin/bash
    ssh_authorized_keys:
      - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQ... (ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCZa6sTVuZMLyeonOwPN6maFnsyorMr2xTNb+k0Mz0umVZ7ZvofjjOem52bTN8HFCFY53O7hClwgiq+gNb62bxOmB9OOn7PJjmbk9Q4wiIOzIMTPkHQMShCKLp408XR3Jb72j4GGCaUV7T6NB0SaG7zIE6BNd6jc4LylXglLebTwDJ4FgEWl3FXrWj+gFrZA1fS0JwQ47+/ndOoUenx1K5ZeXBf0ghZyeUOqP2DsOAMfKkBA2Rub+SepGLaFVKnKpEv/w4eRCI+76L+wTq96rL3eQx0zjoeyeeQezZIvjmMD41VwV74+ieGBHa0KuShD6nAnWqrFQyPrlwFDlM0sVk4ltEmoueNVIIah57/fU4vRXmiWA6SacuYENX+v3OisXSgGn3uys1PZepRHTMuJq32Rn7Hm3Cf5dDVzyZD+u5TRVs9mTweFTECUlJFoa9J/U9/nLApVXyOmF9rGkmpWbJ1t0jlrYaXf286zqsqA73TBBpaY3fCk7KIoEHzXx8+8KSRCIE1P7w6n13GFMDY3fJokrOqFxLpjxnpY9Ehn1HVhcVWNo5hUS6LieBFSvxFu+qt+U6OxG5kdK9bCKmgRZIj3zwmQzt/eDVEueSTsVG7G0/xM4U3/b2GXPemA4sEaGBFN6jeZTJLnew0FYQ2vLd47OCPHxwaoeAtd+Z5ZAwJdQ== luiza.pincitori@sou.unifeob.edu.br)

package_update: true
package_upgrade: true

packages:
  - python3
  - python3-pip
  - python3-venv
  - git
  - curl

runcmd:
  - echo "VM iniciada e configurada via cloud-init!" > /tmp/cloud-init-status.log